<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>킹새댁의 Curry image</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/6e2735eaf1.js" crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
</head>
<body>
<div class="tool-top">
  <span class="Gmail"><a href="https://www.gmail.com/">Gmail</a></span>
  <span class="image"><a href="https://www.google.co.kr/imghp?hl=ko&tab=ri&ogbl">이미지</a></span>
</div>

<div>
  <div class="web-name">Curry image</div>

  <div class="input-gruop">
    <div class="search-bar">
      <span class="search-icon" onclick="translateKeyword();">
        <i class="fas fa-search fa-lg"></i>
      </span>
      <a href="https://www.google.com/search?q=">
        <button class="voice-icon" type="button" id="button-voice">
          <i class="fas fa-microphone fa-lg"></i>
        </button>
      </a>
      <input type="text" id="schKeyword" class="search-text" placeholder="검색할 이미지 입력" aria-label="검색어"
             maxlength="10"/>
    </div>
  </div>


  <div class="frequently-visited-sites">
    <div class="fvs-1">
      <a href="https://blog.naver.com/sj5636v">
        <img src="/images/icon01.png" alt="킹새댁" width="60px" height="60px"></a>
      <div class="fvs-name">킹새댁의 돈버는 이야기</div>
    </div>
    <div class="fvs-2">
        <a href="https://bbubbush.tistory.com">
            <img src="/images/icon02.png" alt="NAVER" width="60px" height="60px"></a>
        <div class="fvs-name">제 컴에서는 되는데요?</div>
    </div>

    <!--
          <div class="fvs-3">
              <a href="https://www.inflearn.com/">
                  <img src="./image/인프런.png" alt="인프런" width="40px" height="40px"></a>
              <div class="fvs-name">인프런</div>
          </div>

          <div class="fvs-4">
              <a href="https://codemate.kr/">
                  <img src="./image/코드메이트.png" alt="코드메이트" width="40px" height="40px"></a>
                  <div class="fvs-name">코드메이트</div>
          </div>

          <div class="fvs-5">
              <a href="https://www.notion.so/loollool">
                  <img src="./image/notion.png" alt="notion_loollool" width="40px" height="40px"></a>
              <div class="fvs-name">loollool의 Notion</div>
          </div> -->
  </div>
</div>
</body>
</html>